html, body{
  width: 100%;
  min-height: 100vh;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

.popup {
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
  z-index: 10001;
  padding: 8px 8px 20px;
  max-width: 100%;
  margin: 30px auto;
  background: #fff;
}

.popup .close{
  position: absolute;
  right: -13px;
  top: -13px;
  cursor: pointer;
  background-color: #000;
  border: 2px solid  #fff;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 26px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  z-index: 10;
}
